.footer {
  background: #111;
  color: #ddd;
  padding: 40px 0;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

/* layout */
.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

/* logo */
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 30px;
  height: 30px;
  background: #6c5ce7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.footer-logo span {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* links */
.footer-links h3 {
  color: white;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links a {
  color: #ddd;
  text-decoration: none;
}

.footer-links a:hover {
  color: white;
}

/* social */
.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social a {
  width: 35px;
  height: 35px;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.footer-social a:hover {
  background: #6c5ce7;
  transform: translateY(-3px);
}